# ─── API ───────────────────────────────────────────────────────────────────────
VITE_API_URL=https://yourbackenddomain.com/api/v1

# ─── Socket.io ─────────────────────────────────────────────────────────────────
VITE_SOCKET_URL=https://yourbackenddomain.com
